<div class="container">
            <div class="page-title">
                <h3>
                    {{title}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="/">                            
                            {{parent}}
                        </a>
                    </h4>
                    <h4>
                        <a href="#">
                            {{page}}                            
                        </a>
                    </h4>
                    <h4>
                        <a href="#" class="currentpage na">
                            {{title}}                            
                        </a>
                    </h4>
                </div>
            </div>
        </div>
<section style="background-color: #FFF;">
            <div class="container">
                <div class="row">
                    <div class="plans">
                        {{#if listExists}} 
  
                          {{#each media}}
    
                       <div class="col-xs-7 col-sm-6 col-md-5 col-lg-4">
                            <a href="album?id={{media_id}}">
                                <div class="gallery">
                                    <img src="{{media_pic}}" alt="{{media_tit}}">
                                    <h2>
                                        {{media_tit}}
                                    </h2>
                                    <p>
                                        {{media_txt}}
                                    </p>
                                    <a href="album?id={{media_id}}">عرض الألبوم</a>
                                </div>
                            </a>
                        </div>
                     {{/each}}
  
                {{/if}}
   
                    </div>
                </div>
 
                {{>fillerRow}}
            </div>
        </section>