<div class="container">
            <div class="page-title">
                <h3>
                    {{title}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="#">
                            {{!-- الرئيسية --}}
                            {{parent}}
                        </a>
                    </h4>/
                    <h4>
                        <a href="#">
                            {{page}}
                            {{!-- عن الوزارة --}}
                        </a>
                    </h4>/
                    <h4>
                        <a href="#" class="currentpage">
                            {{title}}
                            {{!-- نبذة عن الوزارة --}}
                        </a>
                    </h4>
                </div>
            </div>
        </div>
<section style="background-color: #FFF;">
            <div class="container">
                <div class="row">
                    <div class="plans">
                        {{#if listExists}} 
  
                          {{#each media}}
    
                       <div class="col-xs-8 col-sm-6 col-lg-4">
                            <a href="#">
                                <div class="news">
                                    <img src="{{media_pic}}" alt="{{media_tit}}">
                                    <h2>
                                        {{media_tit}}
                                    </h2>
                                    <p>
                                        {{media_txt}}
                                    </p>
                                    <a href="#">عرض الألبوم</a>
                                </div>
                            </a>
                        </div>
                     {{/each}}
  
                {{/if}}
   
                    </div>
                </div>
 
                {{>fillerRow}}
            </div>
        </section>