<div class="container">
            <div class="page-title">
                <h3>
                    {{title}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="/">                         
                            {{parent}}
                        </a>
                    </h4>
                    <h4>
                        <a href="#">
                            {{page}}                         
                        </a>
                    </h4>
                    <h4>
                        <a href="#" class="currentpage na">
                            {{title}}                            
                        </a>
                    </h4>
                </div>
            </div>
        </div>
<section class="former" style="background-color: #F2F4F9;">
            <div class="container">
                <div class="row " style="display: flex;justify-content: center;align-items: center;">
                    <div class="history ">
                        <h2 class="history-tit">تاريخ الوزارة</h2>
                        <p class="history-par">
                            أنشئت وزارة التخطيط في عام 1984 خلفاً للمجلس القومي للتخطيط، وتعمل بموجب قانون التخطيط رقم (68) لسنة 1971، وقد تم إعادة تسمية الوزارة لتصبح وزارة التخطيط والتعاون الدولي بتاريخ 25/10/2003 لتعمل بمضامين نفس القانون والمهام والواجبات
                        </p>
                        <h2 class="history-tit"> الوزراء</h2>
                    </div>
                    <div class="timeline">

                    {{#if listExists}}
                        {{#each ministers}}
                        <div class="timeline-content">
                            <div class=" minister">
                                <img src="ministers_pics/{{picture_url}}" alt="{{min_name}}" class="mins-img">
                                <p class="mins-date">{{min_s_date}} - {{min_e_date}}</p>
                                <h2 class="mins-name">{{min_name}}</h2>
                            </div>
                        </div>
                        {{/each}}
                    {{/if}}                        
                    </div>
                </div>
                <!-- no filler row -->
            </div>
            </div>
        </section>