<div class="container">
            <div class="page-title">
                <h3>
                    {{title}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="/">                         
                            {{parent}}
                        </a>
                    </h4>
                    <h4>
                        <a href="#">
                            {{page}}                         
                        </a>
                    </h4>
                    <h4>
                        <a href="#" class="currentpage na">
                            {{title}}                            
                        </a>
                    </h4>
                </div>
            </div>
        </div>
<section style="background-color: #FFF;">
            <div class="container">
                <div class="row">
                    <div class="plans">
                        {{#if listExists}} 
  
                          {{#each programs}}
    
                        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
                            <div class="plan">
                                <img src="{{file_ext}}.png" alt="program">
                                <h2>{{file_name}} {{file_date}}</h2>
                                <a href="{{file_url}}">تحميل</a>
                            </div>
                        </div>
                     {{/each}}
  
                {{/if}}
   
                    </div>
                </div>
 
                {{>fillerRow}}
            </div>
        </section>