<div class="container">
            <div class="page-title">
                <h3>
                    {{title}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="#">                            
                            {{parent}}
                        </a>
                    </h4>/                    
                    <h4>
                        <a href="#" class="currentpage">
                            {{title}}
                        </a>
                    </h4>
                </div>
            </div>
        </div>
<section style="background-color: #FFF;">
            <div class="container">
                <div class="row">
                    <div class="plans naf">
                        {{#if listExists}} 
  
                          {{#each projects}}
    
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <div class="news p">
                                <img src="{{project_pic_url}}" alt="{{project_tit}}">
                                <h2>
                                    {{project_tit}}
                                </h2>
                                <a href="{{project_url}}" target="_blanck">
                                    المزيد
                                </a>
                            </div>
                        </div>
                     {{/each}}
  
                {{/if}}
   
                    </div>
                </div>
 
                {{>fillerRow}}
            </div>
        </section>