<div class="container">
            <div class="page-title">
                <h3>
                    {{title}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="#">
                            {{!-- الرئيسية --}}
                            {{parent}}
                        </a>
                    </h4>/
                    <h4>
                        <a href="#">
                            {{page}}
                            {{!-- عن الوزارة --}}
                        </a>
                    </h4>/
                    <h4>
                        <a href="#" class="currentpage">
                            {{title}}
                            {{!-- نبذة عن الوزارة --}}
                        </a>
                    </h4>
                </div>
            </div>
        </div>
<section style="background-color: #FFF;">
            <div class="container">
                <div class="row bia" style="text-align: center;">
                    {{#if listExists}}
                        {{#each serGui}}
                    <div class="col c">
                        <div class="servicesguide">
                            <img src="{{file_cat}}.png" alt="servicesguide">
                            <h5>{{file_name}}</h5>
                            <a href="{{file_url}}">تحميل</a>
                        </div>
                    </div>
            {{/each}}
            {{/if}}
                </div>
            {{>fillerRow}}
                </div>
                </section>