<div class="container">
            <div class="page-title">
                <h3>
                    {{page}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="/">                            
                            {{parent}}
                        </a>
                    </h4>          
                    <h4>
                        <a href="#" class="currentpage na">
                            {{title}}                            
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        {{>formModalTr}}
<section style="background-color: #F2F4F9;">
            <div class="container">
                <div class="row bia">
                    <div class="sec-item">
                        <div class="contact-form">
                            <h2 class="sec-tit">تعبئة طلب تدريب لطلاب الجامعات</h2>
                            <form action="/train" id="idForm" method="POST">
                                <div class="form-row">
                                    <div class="form-item form-item-3">
                                        <label for="nationality">الجنسية <span>*</span></label>
                                        <select id="nationality" required name="nationality">
                                            <option disabled value="اختر">اختر</option>
                                             {{#if listExists}}
                                                {{#each nats}}
                                            <option value="{{nat_id}}">{{nationality}}</option>
                                                {{/each}}
                                            {{/if}}
                                            </select>
                                    </div>
                                    <div class="form-item form-item-3">
                                        <label for="nationalno">الرقم الوطني <span>*</span></label>
                                        <input type="text" id="nationalno" required name="nationalno">
                                    </div>
                                    <div class="form-item form-item-3">
                                        <label for="birth_day">تاريخ الميلاد <span>*</span></label>
                                        <input type="date" id="birth_day" required name="birth_day">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-item form-item-3">
                                        <label for="fname">الاسم الاول <span>*</span></label>
                                        <input type="text" id="fname" required name="fname">
                                    </div>
                                    <div class="form-item form-item-3">
                                        <label for="lname">اسم العائلة <span>*</span></label>
                                        <input type="text" id="lname" required name="lname">
                                    </div>
                                    <div class="form-item form-item-3">
                                        <label for="city">المحافظة <span>*</span></label>
                                        <select required name="city">
                                            <option value="" disabled="" selected="">اسم المحافظة</option>
                                             {{#if listExists}}
                                                {{#each cities}}
                                            <option value="{{city_id}}">{{city}}</option>
                                                {{/each}}
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-item form-item-3">
                                        <label for="university">الجامعة <span>*</span></label>
                                        <select required name="university">
                                            <option value="" disabled="" selected="">اسم المحافظة</option>
                                             {{#if listExists}}
                                                {{#each unis}}
                                            <option value="{{uni_id}}">{{university}}</option>
                                                {{/each}}
                                            {{/if}}
                                        </select> </div>
                                    <div class="form-item form-item-3">
                                        <label for="year">السنة <span>*</span></label>
                                        <input type="text" id="year" required name="year">
                                    </div>
                                    <div class="form-item form-item-3">
                                        <label for="major">التخصص<span>*</span></label>
                                        <input type="text" id="major" required name="major">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-item">
                                        <label for="email">البريد الإلكتروني<span>*</span></label>
                                        <input type="email" required id="email" name="email">
                                    </div>
                                    <div class="form-item">
                                        <label for="phone">رقم الهاتف <span>*</span></label>
                                        <input type="text" required id="phone" name="phone">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-item" style="width: 100%;">
                                        <input type="submit" value="تقديم">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>
    </div>
    </section>